<mat-list role="list">
    <div class="profile">
        <div>
            <h2>Jishnu</h2>
            <h4>jishnuu03@gmail.com</h4>
        </div>
        <img src="https://i.pinimg.com/736x/50/bf/08/50bf08a84f1fcf85200f4850ad3eada5.jpg" alt="">
    </div>
    <mat-divider></mat-divider>
    <h2 mat-subheader>pages</h2>
    <a mat-list-item routerLink="list-item-active" routerLink="/">DashBoard</a>
    <a mat-list-item routerLink="list-item-active" routerLink="/posts">Post</a>
    <a mat-list-item routerLink="list-item-active" routerLink="">Article</a>
    <mat-divider></mat-divider>
    <h2 mat-subheader>Tools</h2>
    <a mat-list-item routerLink="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>&nbsp; Contacts
    </a>
    <a mat-list-item routerLink="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>&nbsp; Leads
    </a>
  </mat-list>